/* You can add global styles to this file, and also import other style files */

html, body { 
	height: 100%;
	background-color:#303030; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body .mat-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay, .mat-stroked-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay {
    opacity: 0.1 !important;
}
